* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

div {
  border: 2px solid black;
  background-color: maroon;
  color: white;
  padding: 34px;
  margin: 34px;
}
button {
  text-align: center;
  height: 34px;
  width: 70px;
  font-size: 28px;
  margin: 10px 700px;
}
